@font-face {
    font-family: "Inconsolate-Bold";
    src: url("./Inconsolata-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("./Montserrat-Bold.ttf");
}

@font-face {
    font-family: "SpaceMono-Bold";
    src: url("./SpaceMono-Bold.ttf");
}

@font-face {
    font-family: "SpaceMono-Regular";
    src: url("./SpaceMono-Regular.ttf");
}
